@import "mixins.css.scss";
//
//----------------------------------------------------------------
// Constants
//----------------------------------------------------------------
$base_font_size: 13px;
$layout_width: 905px;
$gold: #c90;
$amber: #fc0;
$blue: #006;
$navy: #282751;
$royal_blue: #333e80;
$eggshell: #f7f7f7;
$red: #cc0000;
$link: #0088CC;
$cobalt: #06c;
$sky: #e5effa;
$bluesky: #3994f1;
$button-radius: 3px;
//----------------------------------------------------------------
// General Layout
//----------------------------------------------------------------
body { background: url(../images/patterns/lines-white-grad.png) repeat-x; font-size: 14px}
.wrap { padding-top: 40px; background: #fff url(../images/patterns/lines-white-grad.png) repeat-x; }
.pad { padding: 20px; &.thin { padding: 20px 15px; } }
.center { margin: 0 auto; }
.break { display: block; margin-bottom: 18px; }
.clear.tall { height: 20px; }
strong.title { clear: both; display: block; margin-bottom: 2px; }
.divider {
  &.thick { border-top: 4px solid $blue;}
}
.blue { @include navy; color: #fff; h2, h3, a { color: #fff; } }
.focus { color: #f00; }
.space { margin-left: 10px; }
.pane {
  background: $eggshell;
  padding: 0 26px 20px; margin-bottom: 30px;
  &.scroll { padding-right: 5px; position: relative; }
  &.bordered { border-top: 5px solid $blue; }
  &.shadowed { box-shadow: 0px 1px 3px #aaa; }
  &.bleed { padding: 0; }
  &.pad { padding: 20px; }
  &.white { background: #fff; }
  h2 { margin-top: 12px; }
}
.white .pane { background: #fff; }
#content { padding-top: 40px; width: $layout_width; }
#footer {
  .container { width: $layout_width; }
  background: url(../images/patterns/squares-blue.png);
  padding-top: 20px; margin-top: 20px;
  font-size: $base_font_size;
  h2 {
    color: #fff;
    font-weight: normal; line-height: 14px;
    margin: 0 0 10px 0; padding-top: 0px;
  }
  ul { list-style-type: none; margin-left: 0px; }
  a  { color: #fff; }
  .cell {
    padding: 0px 40px; border-left: 1px solid #666;
    &.first { border: none; padding-left: 20px }
    &.triangle-white-down {
      @include icon('triangle-white-down');
      background-position: center top;
      padding-top: 20px; margin-top: -20px;
      color: $amber; font-size: 16px;
      border: none;
    }
  }
  p.copy { clear: both; color: #fff; }
}
.cell  { float: left; clear: none; }
.clear { clear: both; }
th { text-align: left; }
img.break { padding: 8px 0; }
a.graphic {display: block; &:hover { text-decoration: none; }}
a.action { color: $red; &:hover {color: #000; text-decoration: underline;}}
h2.pane-title { background: #003; color: #fff; padding: 3px 16px; margin-bottom: 0px;
  font-size: 17px; font-weight: normal; }
.lined-columns { .column { border-right: 1px solid #ddd; } }
.span4 .column { margin-right: 4px; }
.thin-panes .pane { padding: 18px; }
.page-pad { padding: 40px 0; }
.page-pad-y { padding: 40px 0; }
.page-pad-x { padding: 0 40px; }
.page-a4-y { padding: 40px 0 70px; }
//
//-------------------------------------------------------
// Tables
//-------------------------------------------------------
td.check {padding-right: 0px; width: 27px;}
th.check {
  input[type="image"], input[type="checkbox"], input[type="radio"]  {margin-top: -6px}
}
th { background: $sky; font-weight: normal; }
th.sort {
  span {
    background-position: right 7px;
    padding-right: 16px; display: inline-block;
  }
  &.asc span {@include icon('sort-asc');}
  &.desc span {@include icon('sort-desc');}
}
table {
  width:100%;
  margin-bottom: 22px;
  &.last {margin-bottom: 0px}
  &.dotted {
    td {font-size: 14px; border-bottom: 1px dotted #ddd; padding: 10px;}
  }
  &.data {
    border-top: 1px solid #000;
    td.first, th.first {padding-left: 0px;}
    th { padding: 0 12px; border-top: 1px solid #fff;}
    tr.pad th { padding: 12px; &.first {padding-left: 0px} }

  }
  &.buy {
    border-top: 3px solid $bluesky;
    thead { padding-top: 3px; }
    th { padding: 12px; font-size: 18px; }
    tr.last td { border-bottom: none; }
    td {
      padding: 18px 12px;
      &.info { font-size: 13px; color: #666; }
      &.buy { width: 60px; }
      &.price { width: 60px; }
      &.packages { width: 260px; }
    }
    .btn-success { padding: 4px 18px;}
  }
}
.sort-by {
  padding-top: 6px; padding-right: 26px;
  select, label {float: right;}
  select {width: 80px;}
  label {font-weight: normal; margin-right: 8px; line-height: 26px;}
}
//
//----------------------------------------------------------------
// Typography
//----------------------------------------------------------------
h1 { margin-bottom: 10px; }
h2 {
  font-size: 15px; color: #000;
  &.recruiters { padding-top: 8px; font-size: 15px; &.nudge-down { padding-top: 36px; } }
}
h3 { font-size: $base_font_size; color: #000; line-height: 18px;  letter-spacing: 0.3px }
p  { font-size: $base_font_size; margin: 0 0 18px 0; }
a  { color: #333; }
.quotes {
  text-indent: 24px;
  position: relative;
  font-size: 16px;
  display: inline-block;
  color: #666;
  .quote {
    text-indent: 0px;
    color: #333;
    display: block; position: absolute;
    font-weight: normal; font-size: 50px;
    &.left { top: 5px; left: 0px; }
    &.right { bottom: -18px; right: 20px; }
  }
}
.quote-source {display: block; margin-top: 20px;}
//
//----------------------------------------------------------------
// User Navigation
//----------------------------------------------------------------
#head {
  @include navy;
  margin-bottom: 34px;
  height: 39px;
  .navbar {
    width: $layout_width;
    margin: 0 auto;
    .nav > li > a { padding: 11px 0px; &.active {padding: 16px 0 7px;} }
  }
  .navbar-inner { background: transparent; }
  ul.nav { float:right; margin: 0; }
  a {
    color: #fff;
    font-size: 14px;
    text-shadow: -1px -1px 1px $gold - 80;
    &.active {
      background: $gold;
      position: relative; left: -1px; top: -5px;
      border-radius: 0 0 $button-radius $button-radius;
      &.jobseekers { background: #090; &:hover { background: #0a0; } }
      &:hover { background: $gold + 20;}
      b { border: none; font-weight: bold; }
    }
    &.active:hover { color: #fff; text-decoration: none; }
    &:hover { text-decoration: underline; }
  }
  b {
    line-height: 16px;
    border-right: 1px dotted #fff;
    padding: 0 15px; display: block;
    font-weight: normal;
  }
}
//
//----------------------------------------------------------------
// Site Navigation
//----------------------------------------------------------------
.dropdown-toggle {
  @include icon('menu-arrow');
  border-right: 10px solid #fff;
  background-position: right center;
  border-radius: 2px;
}
#menu {
  .row-fluid { padding: 16px 0px; .span4 { width: 33%; } }
  .dropdown-menu::after, .dropdown-menu::before {
    display: none;
    color: #f00;
  }
  height: 10px;
  ul.column {
    border-right: 1px solid #777;
    padding-left: 10px;
    font-size: $base_font_size;
    &.last {border: none; }
  }
  .dropdown-menu {
    background: #555;
    border: none;
    border-radius: 2px;
    margin: 0;
    width: 630px;
    padding: 10px 0 0 0;
    top: 30px;
    li { border: none; }
    a { font-weight: normal; font-size: $base_font_size; }
    .nav-tabs a { font-size: 14px; }
  }

  .dropdown.open {
    background: transparent;
    a.dropdown-toggle {
      background-color: #555;
      background-position: right center;
      @include icon('menu-arrow-active');
      color: #fff;
      border-color: #555;
    }
  }
  .nav-tabs {
    border: none; padding-bottom: 6px;
    a { padding: 0px; }
    b { padding: 0px 10px; border-right: 1px dotted #000;}
    li.first b { padding-left: 24px; }
    li.active b, li.last b { border-right: none; }
  }
  .tab-content { clear: both; }
  .tab-pane { padding: 10px 0px; margin: 0; border-radius: 2px; }
  li {
    border-right: 1px dotted #ccc;
    &.clean { border-right: none; }
  }
  a {
    color: $blue; font-weight: bold; font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    &:hover { color: #0088CC; }
    &.brand {
      font-size: 40px; font-family: Trebuchet MS, sans-serif; font-weight: bold;
      color: #000; border-right: none; margin-right: 25px; margin-top: -4px;
      b {color: #c00; }
    }
  }
  .hud a { color: #fff; }
  .span4 {margin-left: 0px; }
  h2 { display: none }
  .navbar-inner { background: transparent; box-shadow: none; }

  &.navbar .nav { float: none; }
  &.navbar .nav > li > a { padding: 8px 18px 7px 18px; }
  &.navbar .nav.nav-tabs > li > a { padding: 6px 0px; }
  &.navbar .nav li.active > a, &.navbar .nav li.active > a:hover { background: transparent; }
  &.navbar .nav-tabs.nav li.active > a, .nav-tabs.nav li.active > a:hover {background: #444; color: #fff;}
  ul.nav { width: 102%; &.nav-tabs { width: 100%; background: #555; } }
  li.icon { float: right; margin: 0; padding: 0; }
  li.icon a { margin: 0 0 0 10px; }
}
//
//----------------------------------------------------------------
// Search Box
//----------------------------------------------------------------
#search {
  @include navy;
  border-radius: 2px; font-weight: bold;
  padding-top: 12px; margin-top: 42px; margin-bottom: 20px;
  .pad { padding: 20px 20px 6px; }
  a, a:hover { color:#fff; }
  a.add {
    position: relative; left: -55px;
    font-size: $base_font_size; top: 4px;
    &.open { @include icon('search-less') }
  }
  strong, small { color: #fff; }
  strong { font-size: 27px; font-weight: normal; line-height: 25px; }
  small { font-size: $base_font_size; font-weight: normal; display: block; margin-top: 12px; }
  input, textarea, select, .uneditable-input {height: auto; }
  input { display: block; padding: 8px 0px; width: 100%; font-size: 16px; }
  input.check { width: 13px; }
  .checkboxes {float: left; width: 270px;}
  td {
    vertical-align: top;
    &.text { padding-top: 5px; }
    &.find { width:150px; text-indent: 7px}
    &.in { width:60px; text-indent: 20px; }
    &.input input { text-indent: 10px; }
    &.search {
      width: 150px; padding-left: 14px;
      input { padding: 8px 20px; margin-bottom: 8px; display: inline-block; width: auto; }
    }
  }
}
#advanced_search {
  position: relative;
  padding: 10px 0 0 149px;
  width: 700px;
  input.text { float: left; width: 80px; text-indent: 5px; }
  select { float: left; margin: 0 20px; width: 115px; }
  .to {
    float: left; width: 40px; text-align: center;
    font-weight: normal; font-size: 16px;
    line-height: 33px;
  }
  label { color: #fff; display: block; float: left; }
  .checkbox { float: left; width: 115px; }
}
.blue {
  .btn-primary {
    background: #CC0E0A;
    text-shadow: -1px -1px 1px #300;
    //@include gradient-y(#CC0E0A, #870804);
  }
  .btn-primary:hover {
    background: #FA2B2B;
    // @include gradient-y(#FA2B2B, #CC0E0A);
  }
}
//
small.search {
  display: block;
  float: left;
  font-size: $base_font_size;
  font-weight: normal;
  padding-left: 130px;
  &.more {
    float: right;
    padding-right: 50px;
  }
}
//
//----------------------------------------------------------------
// Forms
//----------------------------------------------------------------
input, textarea, select, .uneditable-input {
  border-top: 1px solid #999; border-left: 1px solid #999;
  border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5;
  border-radius: 0px;
}
label { font-weight: bold; &.fine {font-weight: normal} &.tall {line-height: 26px;}}
.checkboxes {
  li { display: block; clear: both; }
  input, label { display: block; float: left; }
  label { font-weight: normal; text-indent: 3px }
  input { width: 14px; }
}
.btn-medium {
  font-size: 14px; font-weight: bold;
  padding: 6px 12px;
}
.btn {
  border-radius: $button-radius; box-shadow: none; border: none;
  &.save { border: 1px solid #ddd;}
}
.btn-gold {
  color: #fff; background: $gold;
  text-shadow: -1px -1px 0px $gold - 30;
  &:hover { color: #fff; background: $gold + 30;  }
}
.btn-go {
  font-size: 14px;
  color: #fff; background: $cobalt;
  text-shadow: -1px -1px 0px $cobalt - 40;
  &:hover { color: #fff; background: $cobalt + 30;  }
}
.splash .btn { padding: 7px 17px; font-size: 15px; font-weight: bold; }
.btn-join {
  color: #fff; background: #c00;
  //font-weight: bold; font-size: 15px; letter-spacing: 0.5px;
  text-shadow: -1px -1px 0px #700;
  //padding: 7px 18px;
  &:hover { background: #f00; color: #fff; }
}
.btn-checkout {
  color: #fff; background: #333;
  font-weight: bold; font-size: 15px;
  text-shadow: -1px -1px 0px #111;
  padding: 7px 18px;
  &:hover { background: #666; color: #fff; }
}
.btn-success {
  font-weight: bold;
  background: #090;
  &:hover { background: #0b0 ;}
}
.btn-primary {
  background: #090;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  text-shadow: -1px -1px 1px #040;
} // @include gradient-y(#090, #070);
.btn-primary:hover { background: #0a0; } // @include gradient-y(#0a0, #080); }
.btn-secondary {
  // border: 1px solid $cobalt - 60;
  // @include gradient-y($cobalt, $cobalt - 30);
  background: $royal_blue;
  color: #fff; text-shadow: -1px -1px 0px #222e50 }
.btn-secondary:hover { @include gradient-y($royal_blue + 30, $royal_blue + 60); color: #fff; }
.go-search {
  padding-right: 53px;
  position: relative;
  input { margin-bottom: 0px; display: block; width: 100%; }
  .btn { display: block; position: absolute; bottom: 0px; right: 0px; width: auto;}
  .btn-go { padding-top: 6px; padding-bottom: 6px;}
  &.break { padding-top: 8px; }
}
a.remove {
  @include icon('delete'); @include size(20px);
  text-indent: -9999px; display: block;
  &:hover { opacity: 0.6; }
}
//
//----------------------------------------------------------------
// Tabs
//----------------------------------------------------------------
.nav-tabs {
  border-bottom: 5px solid $blue; margin-bottom: 0px;
  li.pull-right {float: right;}
  &.inverted {
    @include navy; padding-top: 6px; padding-left: 6px; clear: both; margin-top: 60px; border: none;
    &> .active > a, & > .active > a:hover, .tab-content > .active, .pill-content > .active {
      background: #fff; color: #000; text-decoration: none;
      span {opacity:1; color: #000; }
    }
    a {
      margin-right: -1px; text-indent: -1px;
      padding: 14px 0px 26px 20px; color: #fff;
      &:hover span {color: #fff; text-decoration: none; opacity: 0.7;}
    }
    b { display: block; border-right: 1px solid #fff; float: right; margin-left: 20px;}
    .clean b {border: none}
  }
}


.nav-tabs > li {
  margin-bottom: -7px; font-weight: bold;
}
.nav-tabs > li > a {border: none; padding: 12px 0 17px 0;}

.nav-tabs.plain > li > a  b {
  padding: 0px 14px;
  border-right: 1px solid #000;
  line-height: 14px; display: block;
  color: #6e6e6e
}
.nav-tabs.plain > li.first > a b { padding-left: 27px }
.nav-tabs.plain > li.last > a b { border-right: none; }
.nav-tabs.plain > li.active > a b { border-right: none; color: $navy; }
.nav-tabs > li > a:hover { background: transparent; color: #000; text-decoration: underline}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover,
.tab-content > .active, .pill-content > .active {
  border: none;
  background: $eggshell;
  color: $blue; font-weight: bold;
  b { border: none; }
}
.tab-pane { padding: 12px 27px 27px 27px; margin-bottom: 20px; }
.nav-pills.break {margin-top: 20px;}
.nav-pills > li {margin-right: 2px;}
.nav-pills > li > a {
  color: #000; border-radius: 2px; font-weight: bold;
  &:hover { color: $cobalt; background: transparent; text-decoration: underline;}
}
.nav-pills > .active > a, .nav-pills > .active > a:hover { background: $cobalt; }
.nav-pills.light li a {font-weight: normal;}
.nav-pills.light > .active > a, .nav-pills.light > .active > a:hover {
  color: #000; background: #f2f2f2; font-weight: normal;
}
.nav-pills-wrap {
  border: 1px solid #ddd; border-radius: 4px;
  padding: 20px 20px 1px 20px; margin-left: 0px;
}
//
//----------------------------------------------------------------
// Dark HUD Theme
//----------------------------------------------------------------
.hud {
  background: #444;
  color: #fff;
  border-radius: 2px;
  a {color: #fff; }
  .nav-tabs > .active > a, .nav-tabs > .active > a:hover { background: #555; }
  .nav-tabs { background: transparent; }
  ul.column a:hover { background: #333; }
  .tab-pane { background: #444; }
}
//
//----------------------------------------------------------------
// Lists
//----------------------------------------------------------------
ul.column {
  list-style-type: none; margin: 0; font-size: 11px; font-weight: normal;
  &.last {border: none; }
  &.spaced > li { padding: 6px 0; }
  h3 { padding: 0; margin: 0; font-size: 11px; }
}
ul.column > li { display: block; border-bottom: 1px dotted #ccc; padding: 3px 0; }
ul.column > li.last { border: none; }
ul.column > li > a:hover { color: #000 }
#plain-industries ul.column li { font-size: 13px; }
//
//----------------------------------------------------------------
// Icons
//----------------------------------------------------------------
.block { display: block; }
.icon { display: block; text-indent: -9999px; }
a.mail {
  @include icon('mail'); background-position: right center;
  padding-right: 28px; margin-right: 73px;
  text-align: right; font-weight: bold;
}
.credit-cards {
  float: left; margin-bottom: 14px;
  span { @include size(48px,32px); margin-right: 8px; float: left;  display: block }
}
.mastercard { @include icon('mastercard') }
.visa { @include icon('visa') }
.maestro { @include icon('maestro') }
.facebook { @include icon('facebook', 'fade') }
.twitter { @include icon('twitter','fade') }
#menu.navbar .nav > li.icon > a {
  @include size(28px,27px);
  padding: 0;
}
a.add {
  @include icon('search-more'); background-position: right center;
  padding-right: 20px; float: right;
  color: #fff; font-weight: normal; text-align: right;
}
//
//----------------------------------------------------------------
// Logo Slideshow
//----------------------------------------------------------------
$slideshow_height: 60px;
//----------------------------------------------------------------
a.logoslide {
  background: #fff;
  background-repeat: no-repeat; background-position: center center;
  @include size(170px,$slideshow_height);
  text-indent: -9999px;
  display: block; float: left;
  padding: 0px 6px; margin: 0px 6px;
}
a.logoslide:hover { opacity: 0.5; }
.jcarousel-skin-default {
  outline: none;
  background: transparent;
  height: $slideshow_height;
  margin: 0; padding: 0 32px;
  position: relative; overflow: hidden;
  ul {
    width: 20000px; margin: 0; padding: 0;
    list-style: none; list-style-type: none;
    display:block; position: absolute;
  }
  li { margin: 0 0 0 10px; padding: 0; float: left; }
}
*[dir=rtl] .jcarousel-skin-default li {float: right; margin: 0; }
.jcarousel-skin-default ul li, .jcarousel-skin-default ul {list-style-type:none; }
.pane { a#slide-left, a#slide-right { background-color: $eggshell; } }
a#slide-left, a#slide-right {
  background-position: center center; background-color: #FFF;
  @include size(22px,$slideshow_height);
  position:absolute; padding: 0;
  display: block; text-indent: -9999px;
}
a#slide-left:hover, a#slide-right:hover { opacity:1; color:#666; text-decoration: none; }
a#slide-right { right:0; @include icon('go-next', 'hover'); }
a#slide-left { left:0; @include icon('go-prev', 'hover'); }
//
//----------------------------------------------------------------
// Search Results
//----------------------------------------------------------------
.hr {
  border-top: 4px solid $blue; clear: both; margin-bottom: 20px;
  &.thin { border-width: 1px; }
  &.dotted { border-style: dotted; border-top: none; }
  &.lite { border-color: #ccc; }
  &.thick { border-width: 8px; margin-bottom: 12px; }
  &.break { margin-top: 10px;}
  &.table-rule { border-width: 1px; margin: 0 0 1px 0;}
  &.deboss { margin: 20px 0; div { height: 6px; } }
}
.vr {
  &.deboss { margin: 0; div { width: 6px; height: 100%; } }
}
.deboss {
  border: none;
  background: transparent url(../images/sliding/deboss.png);
  div {background: transparent url(../images/sliding/deboss.png) right bottom;}
}
#search-results {
  font-size: $base_font_size;
  .hr { margin-bottom: 15px; }
  .head {
    .pad { padding: 20px 20px 10px 20px; }
    img { float: left; }
    a { float: right; background-position: right center; padding: 0px 32px 0px 0px }
  }
}
.result {
  position: relative; border-bottom: 1px dotted #777;
  h2 {
    //background: #1639B0 url(../images/patterns/lines-cobalt.png);
    padding: 6px 0px; margin: 10px 0 0 0;
    line-height: 18px;
    a { color: $blue; }
  }
  strong {
    font-weight: bold;
    &.details {
      margin: 5px 0 10px 0; display: block;
      font-weight: normal; color: #000;
    }
  }
  p { color: #666; }
  .save { position: absolute; top: 33px; right: 0px; display: inline-block; }
  span.save { @include icon('saved'); padding-right: 13px; background-position: right center; }

}
#subscribe {
  padding-bottom: 10px;
  margin-bottom: 20px;
  label, input { float: left; margin-right: 10px; }
  label { line-height: 26px;  }
}
.pagination {
  background: $eggshell;
  border: 4px solid $eggshell;
  height: 24px;
  margin-top: 0px;
  ul { float: right; }
  a {
    border: none; padding: 3px 6px;
    line-height: 18px; color: $royal_blue;
    &:hover { text-decoration: underline; }
  }
  .active a {
    background: #fff; color: #000; font-weight: bold;
    &:hover { text-decoration: none; }
  }
}
//
//----------------------------------------------------------------
// Sidebar
//----------------------------------------------------------------
#sidebar {
  background: $eggshell; font-size: $base_font_size;
  ul { list-style-type: none; margin-left: 0px; }
  .checkboxes {
    margin-top: -16px;
    label, input, button, select, textarea  { font-size: $base_font_size; }
  }
  h3 {

    border-top: 1px solid #ccc; clear: both;
    padding: 10px 0 0 10px; margin-top: 10px;
    font-size: 14px; line-height: 18px;
  }
  .divider {
    margin: 18px 0px;
    &.first { margin-top: 30px; }
  }
  .text.field input { width: 94%; }
  .checkboxes label { margin-bottom: 0px; }
  .checkboxes label, a { color: #666; &:hover { color: #000; text-decoration: underline } }
}
.toggler {
  padding-top: 18px; cursor: pointer;
  strong {
    display: inline-block; padding-right: 12px;
    @include icon('toggle-up'); background-position: right 6px;
  }
  &.open strong {
    @include icon('toggle-down'); background-position: right 6px;
  }
}
.toggler, .field, .togglee { padding-right: 12px; padding-left: 12px; }
//
//----------------------------------------------------------------
// Job
//----------------------------------------------------------------
#job {
  h1 { font-size: 25px; font-weight: normal; padding: 30px 0 20px; }
  a.mail { font-weight: bold; font-size: 14px; color: $blue; padding-right: 27px; }
  p { color: #666; }
  dl { margin-top: 0px; }
  dl, dt, dd { display: block; float: left; }
  dt, dd { padding: 1px 0px; }
  dl { clear: both; }
  dt { width: 20%; font-weight: bold; }
  dd { width: 80%; margin-left: 0px; position: relative; top: -1px; }
  .submit .btn { float: right; margin-left: 10px; }
}
//
//----------------------------------------------------------------
// Account
//----------------------------------------------------------------
#account {
  position: relative;
  h1 { margin-top: 20px; font-size: 22px; }
  h2 {
    font-size: 14px;
    a { font-size: $base_font_size; border-left: 1px solid #000; padding-left: 6px; margin-left: 4px; color: $cobalt; }
  }
  .info { padding-left: 30px; }
  .section {
    background-position: 539px center;
    border-top: 1px dotted #666; padding: 23px 0px;
    h2 { padding: 0 0 10px 0; line-height: 14px; }
    p {margin-bottom: 0px; }
    &.cv { @include icon('gray-cv'); }
    &.searches { @include icon('gray-searches'); }
    &.applications { @include icon('gray-applications'); }
    &.email { @include icon('gray-email'); background-position: 546px center;}
  }
  #cv-download { position: absolute; top: 110px; right: 0px; }
}
#cv-download {
  background: url(../images/thumbs/pdf.png) no-repeat center top;
  padding-top: 155px;
  width: 120px; text-align: center;
  &:hover { opacity: 0.6; }
}
//-------------------------------------------------------
// Recruiters New Account
//-------------------------------------------------------
a.strong { font-weight: bold; }
#recruiter-login {
  padding: 30px 0px; margin: 80px 0px 20px 0px;
  h2 { font-size: 15px; color: $blue; }
  h3 { font-size: 16px; margin-bottom: 20px; }
  div, ul, p { font-size: 14px; }
  .pad {
    padding: 20px 40px 40px 40px; float: left;
    h2 {font-size: 25px}
  }
  .create { padding-left: 25px; width: 220px; position: relative; h2 { font-size: 25px; } }
  .vr { height: 281px; position: absolute; top: 20px; right: 0px; opacity: 0.6;}
  .pitch { width: 160px; padding-top: 40px;}
  .focus {padding-top: 10px;}
  .login {
    padding-right: 60px; padding-left: 60px; width: 259px;
    h2 { color: #fff; margin-bottom: 12px; font-weight: normal; }
    &.pad { padding-bottom: 50px; }
  }
  a {font-weight: normal; &:hover{text-decoration: underline;}}
}
.login {
  .text input { display: block; clear: both; width: 96%; margin-bottom: 22px; }
  .submit input { float: right; }
}
//-------------------------------------------------------
// Home
//-------------------------------------------------------
#post-a-job { min-height: 247px; }
.home-row2 .pane { min-height: 296px; }
.powered { display: block; color: #f60; font-size: $base_font_size; margin-top: 5px; }
.logo {
  float: left;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}
.recommended.boards .logo {
  @include size(103px,40px);
  border: 1px solid #ccc;
  text-indent: -9999px;
  margin: 0 12px 12px 0;
}
#featured-jobs.column {
  height: 240px; overflow-y: scroll;
  h3 { font-size: $base_font_size; }
  li { border-bottom: 1px dotted #ccc; padding: 7px 0px; font-size: $base_font_size; }
}

//-------------------------------------------------------
// Scroll
//-------------------------------------------------------
.jspVerticalBar *, .jspHorizontalBar * { margin: 0;  padding: 0; }
.jspVerticalBar {
  position: absolute;
  top: 0;  right: 0;
  width: 15px; height: 100%;
  background: transparent;
  .jspArrow { height: 16px; }
  .jspArrow:focus { outline: none; }
}
.jspHorizontalBar {
  background: red;
  bottom: 0;  left: 0; position: absolute;
  width: 100%; height: 16px;
  .jspCap { float: left; }
  .jspArrow { width: 16px; float: left;  height: 100%; }
  .jspTrack, .jspDrag { float: left; height: 100%; }

}
.jspContainer { overflow: hidden; position: relative; }
.jspPane { position: absolute; }
.jspCap { display: none; }
.jspTrack { background: transparent;  position: relative; }
.jspDrag { background: transparent; position: relative; top: 0; left: 0; cursor: pointer; }
.jspArrow {
  display: none;
  text-indent: -20000px; display: block; cursor: pointer;
  &.jspDisabled { cursor: default; opacity: 0.2;}
}
//.jspArrowUp { @include icon('scroll-up'); background-position: center center; }
//.jspArrowDown { @include icon('scroll-down'); background-position: center center; }
.jspCorner { background: #eee; float: left; height: 100%;}
* html .jspCorner { margin: 0 -3px 0 0; } // IE6 3 pixel bug :(
img.left {float: left; margin: 0 16px 20px 0;}

.hoverscroll {
  position: absolute; left: 0px;right: 0px;
  height: 158px;
  &.up {top: 0px;}
  &.down {bottom: 0px;}
}

.col {
  float: left; clear: none;
  margin-left: 25px;
  &.first {margin-left: 0px;}
  &.main {width: 635px; &.fat {width: 670px}}
  &.side {width: 245px; &.thin {width: 200px}}
}
//
//-------------------------------------------------------
// Recruiters Landing Page
//-------------------------------------------------------
#recruiter-menu { padding-right: 10px; }
.recruiters .landing_page {
  &.page-pad { padding: 86px 50px; }
  a.graphic {
    position: relative;
    &:hover { color: #000; }
    img { position: absolute; top: 0px; left: 0;}
    &#recruiter-post { padding-left: 120px; width: 120px; }
  }

  strong.title { font-size: 20px; line-height: 22px;}
  small { font-size: 12px}
  .splash {
    strong.title { font-size: 29px; margin-bottom: 10px;}
    p { font-size: 14px}
  }
  .btn-join { float: right; margin-right: 80px; }
  .icons {
    small { padding-right: 50px; }
    .span3.first {padding-right: 32px;}
    a.graphic {padding-top: 83px;}
    input.text {width: 92%; }
  }
  .lined-columns {
    strong.title { margin-bottom: 20px; }
    .go-search {width: 63%; }
    input.text {width: 93%; }
  }
  .column { min-height: 100px;}
  .hr { margin: 50px 0; }
}

#recruiter-savings { padding-left: 20px; }
#recruiter-call {
  @include icon('recruiter-call'); background-position: right top;
  display: block; margin-right: 75px; min-height: 30px;
}

//-------------------------------------------------------
// Recruiters Post Job
//-------------------------------------------------------
.job-bag {
  text-align: right; color: #666;
  margin: 34px 13px 13px;
  img { margin: 0 3px; }
}
.cart-summary {
  ul {
    margin-left: 0px; display: block; list-style-type:none;
    li { position: relative; display: block; padding: 5px 12px 5px 0px;}
    a { display: block; position: absolute; right: 0px; top: 7px;}
  }
  .btn-checkout { margin: 20px 0 0 0;}
}
.chat.pane {
  .text {
    float: left; width: 82px;
    a.btn { font-size: 15px; }
    strong { display: block; margin-bottom: 12px; }
  }

  img {float: right;}
}
.side .thin-panes { margin-bottom: 20px; }
.breadcrumbs { margin-bottom: 20px;}
#post_job {
  .breadcrumbs {margin-bottom: 26px; margin-top: 4px}
  .breadcrumbs, h1 {padding-left: 12px;}
  h1 {font-size: 25px; margin-bottom: 25px; margin-bottom: 31px;}
}
//-------------------------------------------------------
//  Recruiters CV Search
//-------------------------------------------------------
.cv-search {
  h1 {text-indent: 20px}
  .side {padding-top: 40px; .pad {padding-right: 0px;}}
  .go-search {
    padding-right: 80px;
    input {width: 90%;}
    input.btn {width: auto;}
  }
  ul.nav-stacked {margin-top: 20px;}
}
.pull-left {float: left;}
label.pull-left {margin-right: 8px; line-height: 26px;}
.title-splash {padding-bottom: 40px;}
a.user span {
  display: inline-block;
  @include icon('user');
  background-position: right top;
  padding-right: 24px;
}
a:hover img { opacity: 0.7; }
.page-shade {
  background: url(../images/sliding/page-shade.png) repeat-x;
  position: absolute; left: 0px; right: 0px;
  height: 11px; margin: 0px 0px 90px; clear: both;
}
//-------------------------------------------------------
// File Nav
//-------------------------------------------------------
#file-nav {
  background: transparent;
  position: fixed; left: 0px;  top: 0px;
  width: 140px;
  h2 {font-size: 12px; padding-left: 10px;}
  .togglee { background: #fff; padding: 0 0 10px; box-shadow: 1px 1px 4px #aaa;}
  .toggler {
    @include navy; color: #fff;
    width: 50px; padding-top: 10px; padding-bottom: 10px;
    strong { background-image: url(../images/icons/toggle-down-invert.png); }
    &.open strong { background-image: url(../images/icons/toggle-up-invert.png); }
  }
  &.light .toggler {
    background: $eggshell; color: $link;
    strong { background-image: url(../images/icons/toggle-down.png); }
    &.open strong { background-image: url(../images/icons/toggle-up.png); }
  }
  ul {
    list-style-type: none;
    margin-left: 0px;
    font-size: 13px;
  }
  li , a {display: block;}
  a { padding: 4px 8px; &:hover{ background:$sky; text-decoration: none; } }
  li.active a { background: $cobalt; color: #fff; }
}