<div class="cart-summary pane">
  <ul>
    <li>1 x job listing  (€225) <a class="remove" href="#">Remove</a></li>
    <li>2 x featured job (€500) <a class="remove" href="#">Remove</a></li>
    <li>1 x recruitment package (€1125) <a class="remove" href="#">Remove</a></li>
  </ul>
  <div class="hr thin dotted"></div>
  <strong class="total">Total €1850.00</strong>
  <input type="submit" value="<%= defined?(button) ? button : "Go to checkout" %>" class="btn btn-checkout" />
</div>