<div class="chat pane">
  <div class="text"><strong>Chat with us now</strong>
  <a href="#" class="btn btn-join">online</a></div>
  <img src="images/thumbs/chat-with-us.png" />
  <div class="clear"></div>
</div>