<div id="slideshow" class="jcarousel-skin-default">
  <div id="featured_recruiters" class="jcarousel">
    <ul>
      <% %w(94 68 116 115 105 120 125 123 106 117 126 127 128 129 130).each do |n| %>
      <li>
        <a class="logoslide" style="background-image:url(images/logos/<%=n%>.png); width:<%=n%>px;" href="#">
          <%= n.titleize %>
        </a>
      </li>
      <% end %>
    </ul>
    <a id="slide-left" href="#">«</a>
    <a id="slide-right" href="#">»</a>
  </div>
</div>