<div id="footer">
  <div class="container">
    <div class="cell first">
      <h2>Job Seekers</h2>
      <ul>
        <li><a href="#">Jobseeker Help</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Career Advice</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="cell">
      <h2>Recruiters</h2>
      <ul>
        <li><a href="#">Recrutier products and services</a></li>
        <li><a href="#">Job board solutions</a></li>
      </ul>
    </div>
    <div class="cell">
      <h2>About</h2>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Media centre</a></li>
        <li><a href="#">Site map</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="cell triangle-white-down first">Call 0844 645 2134</div>
    <div class="clear">&nbsp;</div>
    <div class="cell first">
      <p class="copy">© Copyright 2012</p>
    </div>
  </div>
</div>