<div id="subscribe" class="clear pane pad">
  <form>
    <label>Email me jobs like these</label>
    <input type="text" />
    <input type="submit" value="Go" class="btn btn-secondary" />
  </form>
  <div class="clear"></div>
</div>
