<% @bodyclass = @bodyclass ? @bodyclass << " logged" : "logged"%>
<div class="clear"></div>
<ul id="recruiter-menu" class="nav nav-tabs plain-text inverted">
  <% ['Profile', 'Post a job', 'CV Search', 'Your candidates', 'My Account'].each_with_index do |item, i| %>
    <% klass = if defined?(active) && active == item
        'active clean'
      elsif i == 0 && (defined?(active) && active == 'Profile')
        'active clean'
      elsif item == 'My Account'
        'clean'
      else
        nil
      end
    %>
    <% url = "Recruiter-" + item.gsub(' ','-') + '.html' %>
    <li class="<%= klass %>"><a href="<%= url %>"><span><%= item %></span><b>&nbsp;</b></a></li>
  <% end %>
</ul>
