<div id="search" class="blue">
  <div class="pad">
    <form accept-charset="UTF-8" action="/jobs" method="get">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="&#10003;" />
      </div>
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="text find">
            <strong>Find a job</strong>
          </td>
          <td class="input">
            <input id="keywords" name="keywords" placeholder="Keywords" type="text" />
            <small>Search for over 2000 jobs</small>
          </td>
          <td class="text in">
            <strong>in</strong>
          </td>
          <td class="input">
            <input id="category_is" name="category_is" placeholder="Industries" type="text" />
          </td>
          <td class="search">
            <input class="btn btn-primary btn-large" id="filter" name="commit" type="submit" value="Search" />
            <a href="#" class="add">Search more Options</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>