<em class="quotes">
  <span class="quote left">&ldquo;</span>
  We chose Whitelabel jobboards because
  they are the recognised experts in job board delivery and candidate engagement provider of trusted job board software and services.
  <span class="quote right">&rdquo;</span>
</em>
<small class="quote-source">Hans Schroeder (CEO) Talents in Berlin</small>