<div id="head">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#"><b>Sign in</b></a></li>
        <li><a href="#"><b>Create account</b></a></li>
        <% if defined?(jobseekers) %>
        <li><a href="#" class="active jobseekers"><b>Job Seekers</b></a></li>
        <% else %>
        <li><a href="#" class="active"><b>Recruiters</b></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>