<% @title = "App Confirmation" %>
<div class="static app-confirm">
  <%= partial "shared/sidebar" %>
  <div class="main col" id="search-results">
    <div id="job">
      <h2 class="success">Your application has been sent</h2>
      <p>Recruiter or Company name<br>
         <a class="lite" href="#">Web Developer - Berlin</a><br>
         Reference: 65392</p>
      <a href="#" class="view-jobs">View applied for jobs</a>
      <div class="hr cobalt"></div>
      <h3>Your Saved searches</h3>
      
      <div class="hr dotted thin"></div>
      <h4><a href="#" class="lite">Web Designer - Berlin
</a></h4>
      <small>Marlow, Buckinghamshire - £40,000 - £55,000 per annum</small>

      <div class="hr dotted thin"></div>
      <h4><a href="#" class="lite">Web Developer
</a></h4>
      <small>Marlow, Buckinghamshire - £40,000 - £55,000 per annum</small>

      <div class="hr dotted thin"></div>
      <h4><a href="#" class="lite">Web Analyst</a></h4>
      <small>Marlow, Buckinghamshire - £40,000 - £55,000 per annum</small>

      <div class="hr dotted thin"></div>
      <h4><a href="#" class="lite">Senior Ruby Developer</a></h4>
      <small>Marlow, Buckinghamshire - £40,000 - £55,000 per annum</small>
      <div class="clear tall"></div>
      
    </div>
  </div>
</div>