<% @title = "Cover Letter" %>
<div class="static">
  <%= partial "shared/sidebar" %>
  <div class="main col" id="search-results">
    <div id="job">
      <div class="head">
        <%= partial "shared/social_email" %>
        <div class="hr"></div>
      </div>
      <%= partial "shared/newsletter" %>
      <%= partial "shared/featured_recruiters" %>
      <div class="hr break thin"></div>
      <h1>Web Developer - HTML/CSS - London</h1>
      <dl>
        <dt>Recruiter</dt><dd>Source</dd>
        <dt>Posted</dt><dd>22 February 2012</dd>
        <dt>Ref</dt><dd>ZPGRAD</dd>
        <dt>Contact</dt><dd>Subair Parvez</dd>
        <dt>Location</dt><dd>London</dd>
        <dt>Sector</dt><dd>Agency - Digital Agency</dd>
        <dt>Function</dt><dd>Technical/Development</dd>
        <dt>Role</dt><dd>Graduate/Entry Level</dd>
        <dt>Specialism</dt><dd>B2B</dd>
        <dt>Hours</dt><dd>Full Time</dd>
        <dt>Contract Type</dt><dd>Permanent</dd>
        <dt>Salary</dt><dd>£20000 - £25000 per annum</dd>
      </dl>
      <div class="hr dotted thin"></div>
      <h2>Further Information</h2>
      <p>Web Developer - HTML / CSS - London<br/> An excellent opportunity has arisen for a Web developer to join a specialist digital start up. You will already have strong skills in HTML, CSS, and some javascript. Also any experience of PHP or Ruby will be ideal. The Web Developer will be given full training on using Ruby on Rails technology. Ideally you will have a strong grasp of web technology’s such as html, css, javascript either from previous experience or your degree.</p>

      <p>The ideal developer will have a Computer Science or equivalent background and be keen to learn Ruby as their main language. You will be joing a specialist organisation who have an involvement in mobile applications and platforms. </p>

      <p>Follow me on twitter for industry news and job updates - @zubairparvez </p>

      <p>Please send your CV for immediate review.</p>

      <div class="hr dotted thin"></div>

      <div id="cover-letter">
      	<h2>Your CV and Covering Letter</h2>
      	<h3>Application for Web Developer</h3>
      	<div class="cv_links">
      		<a href="#">View CV</a> | <a href="#">Upload a new CV</a>
      	</div>
      	<textarea rows="15">Dear Mr./Ms. Last Name:

I am interested in the Coordinator position advertised on Jobsfortechies. My resume is enclosed for your review. Given my related experience and excellent capabilities I would appreciate your consideration for this job opening. 

Your Requirements:
• Responsible for evening operations in Student Center and other facilities, including managing registration, solving customer problems, dealing with risk management and emergencies, enforcement of department policies.
• Assists with hiring, training, and management of staff. Coordinate statistics and inventory.
• Experience in the supervision of student staff and strong interpersonal skills are 	also preferred.
• Valid Minnesota driver’s license with good driving record. Ability to travel to  different sites required.
• Experience in collegiate programming and management.
</textarea>
      </div>

      

      <div class="submit">
        

        <input value="Send Application" type="submit" class="submit btn btn-success btn-large" />
        <input value="Check Spelling" type="submit" class="submit btn btn-large" />
      </div>
      <div class="clear tall"></div>
      <div class="hr"></div>
    </div>
  </div>
</div>