<div class="clear"></div>
<div id="jobseeker-login">
  <div class="row-fluid pane bleed">
    <div class="span4">
      <div class="pad create">
        <h2>Create an account</h2>
        <h3>Quick, Easy and Efficient</h3>
        <p>
          <strong>Quick and easy cost-effective recruitment.</strong><br/>
          For more details, call 0844 5619233
        </p>
        <%= partial 'shared/creditcards' %>
      </div>
    </div>
    <div class="span4">
      <div class="pitch">
        <strong class='focus'>3 reasons to join:</strong>
        <ul class="column">
          <li><strong>Access</strong> - thousands of marketing specialists</li>
          <li><strong>Choose</strong> - from flexible advertising option</li>
          <li><strong>Create</strong> - fantastic branding opportunities</li>
        </ul>
        <div class="break"></div>
        <input value="Post a job" type="submit" class="btn btn-success btn-large"/>
      </div>
    </div>
    <div class="span4">
      <div class="login blue pad">
        <h2>Existing Recruiter</h2>
        <p>Enter your email address and password below to access your account.</p>
        <div class="text"><input placeholder="Email address" type="text" /></div>
        <div class="text"><input placeholder="Password" type="text" /></div>
        <div class="submit">
          <a href="#">Forgot Password?</a>
          <input value="Login" type="submit" class="btn btn-primary btn-large"/>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="hr thin dotted lite"></div>
  <%= partial "shared/featured_recruiters" %>
</div>