<% @title = "Recruiter-Log-In" %>

<div class="clear"></div>
<div id="recruiter-login">
  <div class="row-fluid pane bleed" style="margin-bottom:45px;">
    <div class="pad create">
      <h2>Create an account</h2>
      <h3>Quick, Easy and Efficient</h3>
      <p>
        <strong>Quick and easy cost-effective recruitment.</strong> For more details, call 0844 5619233
      </p>
      <%= partial 'shared/creditcards' %>
      <div class="vr deboss pull-right"><div>&nbsp;</div></div>
    </div>

    <div class="pitch pad">
      <strong class='focus'>3 reasons to join:</strong>
      <ul class="column">
        <li><strong>Access</strong> - thousands of marketing specialists</li>
        <li><strong>Choose</strong> - from flexible advertising option</li>
        <li><strong>Create</strong> - fantastic branding opportunities</li>
      </ul>
      <div class="break"></div>
      <input value="Post a job" type="submit" class="btn btn-success btn-large"/>
    </div>

    <div class="login blue pad">
      <h2>Existing Recruiter</h2>
      <p>Enter your email address and password below to access your account.</p>
      <div class="text"><input placeholder="Email address" type="text" /></div>
      <div class="text"><input placeholder="Password" type="text" /></div>
      <div class="submit">
        <a href="#" class="submit">Forgot Password?</a>
        <input value="Login" type="submit" class="btn btn-primary btn-large"/>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="clear page-shade">&nbsp;</div>

  <h2 class="recruiters nudge-down">Featured Recruiters</h2>
  <%= partial "shared/featured_recruiters" %>
  <div class="hr deboss white"><div>&nbsp;</div></div>
  <div class="row-fluid">
    <div class="span5">
      <h2>Why Us</h2>
      <p>Our aim is to help job seekers find the best jobs and recruiters find the best candidates by delivering inspirational and innovative digital recruitment.</p>
      <a href="#" class="action">Request a call back</a> &nbsp; | &nbsp;  <a href="#" class="action">Email our sales team</a>
    </div>
    <div class="span2">&nbsp;</div>
    <div class="span5">
      <h2>Customer Feedback</h2>
      <%= partial "shared/testimonials" %>
    </div>
  </div>
</div>