<% @title = "Recruiter-Payment" %>

<%= partial "shared/recruiter_menu", locals: {active: "Post a job"} %>

<div id="post_job" class="page pad-all">

  <div class="breadcrumbs"><span class="crumb">Post a Job</span> / <span class="crumb">Cart Summary</span> / <span class="crumb">Checkout</span></div>

  <div class="main col first">    
    <%= partial "shared/checkout_table" %>
  </div>

  <div class="side col thin-panes">
    <h2 class="pane-title">Cart Summary</h2>
    <%= partial "shared/cart_checkout", locals: { button: false } %>        
    <%= partial "shared/chat_pane" %>
    <div class="buy credits">
      <h2>Buy Credits</h2>
      <p>Buy online, or call your account manager on 0845 241 9293</p>
      <a href="#" class="btn btn-join btn-medium">Buy Credits</a>
    </div>
  </div>
  <div class="clear"></div>

</div>